body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#canvas {
  border: solid black 1px;
}

.left-row {
  display: inline-block;
}

.right-row {
  display: inline-block;
  float: right;
  width: 40%;
}

.selectors label {
  display: block;
  margin-top: 4%;
}

#output {
}
